<safra-header></safra-header>


<div id="page-title" class="page-title">
    <h1>Safra Opportunity</h1>
</div>

<div class="panel">
    <div class="table-description panel-row">
        <h2>
            Aproveite o Safra
        </h2>
        <p>
            Complementando as vantagens ao lado nós oferecemos também um comparativo personalizado. <br>
            Habilite seu <a
                href="https://www.safra.com.br/central-de-conteudo/aprender/tudo-sobre-open-banking-e-suas-vantagens.htm">Open
                Banking</a> para nós e veja as vantagens que o Banco Safra pode te ofercer!
        </p>
        <button class="btnRedirect" (click)="goToOpenAnalysis()"> Veja aqui! </button>
    </div>
    <div class="content table-content panel-row">
        <table class="table principal-table">
            <thead>
                <tr>
                    <th scope="col">Produtos e Serviços</th>
                    <th  scope="col">Banco Safra</th>
                    <th scope="col">Outros bancos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<safra-footer></safra-footer>