<safra-header></safra-header>


<div id="page-title" class="page-title">
    <h1>Safra Opportunity</h1>
</div>

<div class="panel">
    <div class="table-description panel-row">
        <h2>
            Aproveite o Safra
        </h2>
        <p>
            Complementando as vantagens ao lado nós oferecemos também um comparativo personalizado. <br>
            Habilite seu <a href="https://www.safra.com.br/sobre/open-finance.htm">Open
                Finance</a> para nós e veja as vantagens que o Banco Safra pode te ofercer!
        </p>
        <button class="btnRedirect" (click)="goToOpenAnalysis()"> Veja aqui! </button>
    </div>
    <div class="content table-content panel-row">
        <table class="table principal-table">
            <thead>
                <tr>
                    <th scope="col">Produtos e Serviços</th>
                    <th scope="col">Banco Safra</th>
                    <th scope="col">Outros bancos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Retirada de dinheiro em espécie (PF)</td>
                    <td>R$ {{data[0].maxValue}}</td>
                    <td>Até R$ {{data[0].maxValueOtherBank}}</td>
                </tr>
                <tr>
                    <td>Retirada de dinheiro em espécie (PJ)</td>
                    <td>R$ {{data[2].maxValue}}</td>
                    <td>Até R$ {{data[2].maxValueOtherBank}}</td>
                </tr>
                <tr>
                    <td>Transferência DOC (PF)</td>
                    <td>R$ {{data[1].maxValue}}</td>
                    <td>Até R$ {{data[1].maxValueOtherBank}}</td>
                </tr>
                <tr>
                    <td>Transferência DOC (PJ)</td>
                    <td>R$ {{data[5].maxValue}}</td>
                    <td>Até R$ {{data[5].maxValueOtherBank}}</td>
                </tr>
                <tr>
                    <td>Adiantamento Depositante (PF)</td>
                    <td>R$ {{data[3].maxValue}}</td>
                    <td>Até R$ {{data[3].maxValueOtherBank}}</td>
                </tr>
                <tr>
                    <td>Adiantamento Depositante (PJ)</td>
                    <td>R$ {{data[4].minValue}}</td>
                    <td>Mínimo de R$ {{data[4].minValueOtherBank}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<safra-footer></safra-footer>