<safra-header></safra-header>
<div class="box">
    <div class="s-container">
        <div class="main-box">
            <div class="title">Primeiros passos</div>
            <div class="sub-title">Conecte via Open Banking com o seu banco atual</div>
            <div class="text-choose">Escolha o seu banco atual:</div>
            <div class="list-choose">
                <div class="bank" id="bancoz"></div>
                <div class="bank" id="itau"></div>
                <div class="bank" id="santander"></div>
                <div class="bank" id="bb"></div>
                <div class="bank" id="bradesco"></div>
                <div class="bank" id="votorantim"></div>
                <div class="bank" id="btg"></div>
                <div class="bank" id="caixa"></div>
            </div>
            <form class="form-basic-infos">
                <label>Nome completo:</label>
                <input id="client-name" type="text" class="form-control" disabled/>
                
                <label>CPF:</label>
                <input id="client-cpf" type="text" class="form-control" disabled/>
                
                <label>Banco exportador das informações:</label>
                <input id="bank-name" type="text" class="form-control" disabled/>
                
                <input type="checkbox" id="termos">
                <label>&nbsp; Aceito compartilhar minhas informações com o Banco Safra</label><br>
                
                <button class="ofertas">Ver Ofertas</button>
            </form>
        </div>
    </div>
</div>
<safra-footer></safra-footer>