/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-font: 'Montserrat', sans-serif;

    --safra-darkblue: #00003C;
    --safra-lightblue: #486f99;
    --safra-purple: #1E2044;
    --safra-gold: #D4AD68;
    --safra-white: #FFFFFF;
    --safra-lightgray: #EEEEEE;
    --safra-gray: #7A7A7A;

    --primary-ft-color: var(--safra-darkblue);
    --secondary-ft-color: var(--safra-purple);
    --tertiary-ft-color: var(--safra-lightblue);
    --quaternary-ft-color: var(--safra-gray);

    --primary-bg-color: var(--safra-white);
    --secondary-bg-color: var(--safra-lightgray);
    --tertiary-ft-color: var(--safra-lightblue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--primary-ft-color);
}